{% extends "base.admin.html.twig" %}

{% block titre %}Gestion des formations
{% endblock %}

{% block body %}

	<div class="card">
		<br>
		<div class="card-hearder text-center">
			<h2>Gestion des formations</h2>
		</div>

		<div>
			<a href="{{ path("admin_formation_creation") }}" class="btn btn-primary float-right">Ajouter une formation</a>
		</div>
		<div class="card-body">
			<table id="example" class="table table-striped nowrap" style="width:100%">
				<thead>
					<tr>
						<th>Titre</th>
						<th>Description</th>
						<th>Place</th>
						<th>DatePublication</th>
						<th>DateDebut</th>
						<th>DateFin</th>
					</tr>
				</thead>
				<tbody>
				{% for formation in formations %}
					<td>{{formation.titre}}</td>
					<td>{{formation.description|slice(0, 50)}}</td>
					<td>{{formation.nombrePlace}}</td>
					<td>{{formation.datePublication}}</td>
					<td>{{formation.dateDebutFormation}}</td>
					<td>{{formation.dateFinFormation}}</td>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	<script>
		$(document).ready(function () {
$('#example').DataTable();
});
	</script>
{% endblock %}
